.profile-circle-h {
    width: 40px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
    border-radius: 50%; /* Makes the container circular */
    overflow: hidden; /* Ensures the image stays within the circular container */
    margin-right: 10px; /* Adjust spacing between profile picture and Logout link */
}

.profile-img-h {
    width: 100%; /* Ensures the image fills the circular container */
    height: 100%; /* Ensures the image fills the circular container */
    object-fit: cover; /* Prevents distortion of the image */
}

.profile-wrapper-h {
    height: 10px;
    display: flex;
    align-items: center; /* Center items vertically */
}