.container-main {
    padding-top: 50px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 20px; */
}
#old-psswd-txt-a32 {
    display: flex;
}
.old-psswd-input-a32 {
    border-radius: 30%;
}
.dot {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
}
#submit-a32 {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    border-radius: 20px;
    border-color: rgb(0, 21, 255);
    background-color: #006aff;
    font-weight: bolder;
    color: white;
}